@tailwind base;
@tailwind components;
@tailwind utilities;

@import './animations.css';

@layer base {
  :root {
    --background: 42 38% 95%;
    --foreground: 20 14.3% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 20 14.3% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 20 14.3% 4.1%;
    --primary: 356 73% 25%;
    --primary-foreground: 60 100% 91%;
    --secondary: 43 74% 49%;
    --secondary-foreground: 24 9.8% 10%;
    --muted: 60 4.8% 95.9%;
    --muted-foreground: 25 5.3% 44.7%;
    --accent: 20 5.9% 90%;
    --accent-foreground: 24 9.8% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 100% 91%;
    --border: 20 5.9% 90%;
    --input: 20 5.9% 90%;
    --ring: 24 5.4% 63.9%;
    --radius: 0.5rem;
  }
}

/* Your existing CSS styles below */ 